<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= "#{user.name} #{user.lastname}" %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Compañia: </strong>
    <%= user.company&.name %>
  </p>
</div>
