<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Nuevo Evento Creado</h1>

  <p>¡Hola <%= @participant.name %>!</p>

  <p>Se ha creado un nuevo evento:</p>

  <p>
    <strong>Nombre del Evento:</strong> <%= @event.title %><br>
    <strong>Fecha del Evento:</strong> <%= @event.start_date %><br>
  </p>

  <p>¡Gracias por ser parte de este evento!</p>

  <p>Saludos,<br>
</body>
</html>
